

<% @students.each do |student| %>
  <div>
    <h1><%= student.name %></h1><br />
    <p><%= student.grade %></p><br /><br />
<% end %>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @students, :container => false %>
 </div>