<% @students.each do |student| %>
  <div class="booyah-box">
    <h1><%= student.name %></h1><br />
    <i><%= student.skypeid %></i><br /><br />
    <p><%= student.grade %></p><br /><br />
  </div>

  <hr />
<% end %>