<fieldset>
  <table class="table">
    <thead  >
        <tr>
            <th class="text-center">Click Button</th>
        </tr>
    </thead>
    <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td align="center">
                <div class="btn btn-primary">
                    <%= link_to room.name, room_path(room) %>
                </div>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</fieldset>