<fieldset>
  <table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Started</th>
        </tr>
    </thead>
    <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td>
                <div class="btn btn-primary">
                    <%= link_to room.name, room_path(room) %>
                </div>
            </td>
            <td><%= room.created_at %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</fieldset>