<div class="row justify-content-center align-items-center h-100" id="newRoom">
  <fieldset>
    <legend>Create a new room</legend>
    <%= form_for Room.new do |f| %>
      Room Name: <%= f.text_field :name %><br/><br/>
      <%= f.submit %>
    <% end %>
  </fieldset>
</div>