@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('Caregiver-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}


.navbar {
  background: image_url('cartographer.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'chunkfiveroman', sans-serif;
  font-size:26px;
}

.digg_pagination {
  background: white;
  cursor: default;
 }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; 
  }
.digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; 
  }
.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; 
  }
.digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; 
  }
.digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; 
  }
.digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; 
  }
.digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; 
  }